<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title class="title">Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="freja.css" />
    <link rel="icon" type="image/gif" href="icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="admin.js"></script>
  </head>
  <body id="body_admin" class="body_admin bg__core">
    <header id="menu"></header>
    <h1 id="h1_admin">Home edition > core</h1>
    <main id="main_admin" class="main">
      <div id="aside_menu_container">
        <div id="aside_menu">
          <a href="#">
            <div class="edition aside_menu_box">Home edition</div>
          </a>
          <a href="#">
            <div class="core aside_menu_box">Core</div>
          </a>
          <a href="#">
            <div class="lowerbody aside_menu_box">Lowerbody</div>
          </a>
          <a href="#">
            <div class="upperbody aside_menu_box">Upperbody</div>
          </a>
          <a href="#">
            <div class="fullbody aside_menu_box">Fullbody</div>
          </a>
          <a href="#">
            <div class="edition aside_menu_box">Hiit edition</div>
          </a>
          <a href="#">
            <div class="core aside_menu_box">Core</div>
          </a>
          <a href="#">
            <div class="lowerbody aside_menu_box">Lowerbody</div>
          </a>
          <a href="#">
            <div class="upperbody aside_menu_box">Upperbody</div>
          </a>
          <a href="#">
            <div class="fullbody aside_menu_box">Fullbody</div>
          </a>
          <a href="#">
            <div class="edition aside_menu_box">Power edition</div>
          </a>
          <a href="#">
            <div class="core aside_menu_box">Core</div>
          </a>
          <a href="#">
            <div class="lowerbody aside_menu_box">Lowerbody</div>
          </a>
          <a href="#">
            <div class="upperbody aside_menu_box">Upperbody</div>
          </a>
          <a href="#">
            <div class="fullbody aside_menu_box">Fullbody</div>
          </a>
          <a href="#">
            <div class="edition aside_menu_box new_edition">
              Tilføj ny edition
            </div>
          </a>
          <a href="#">
            <div class="edition aside_menu_box">Tilføj ny kollektion</div>
          </a>
        </div>
      </div>
      <!-- INPUT SECTION -->
      <div id="input_container">
        <form id="add_cards" action="/newcard" method="POST">
          <div class="form_text"><span>Type</span></div>
          <select type="text" name="type" required>
            <option value="amrap">AMRAP</option>
            <option value="repsandrounds" selected>REPS/ROUNDS</option>
            <option value="workandrest">WORK/REST</option>
          </select>
          <br />
          <div class="form_text"><span>Rounds</span></div>
          <input type="number" name="rounds" min="1" required />
          <br />
          <div class="form_text"><span>Time/Reps</span></div>
          <datalist id="duration-options">
            <option>25/10 SEC</option>
            <option>REPS</option>
          </datalist>
          <input type="text" name="duration" list="duration-options" required />
          <br />
          <!-- <div class="form_text"><span>Work</span></div>
                    <input type="number" name="work" required>
                    sec
                    <br>
                    <div class="form_text"><span>Rest</span></div>
                    <input type="number" name="rest" required>
                    sec
                    <br> -->
                    <datalist id="exercise-list"><42 exercises 24></datalist>
          <div id="exercises">
            
            <div class="form_text"><span>Exercise 1</span></div>
            <select type="text" name="exercise1" required><datalist><42 exercises 24></datalist></select>
            <div class="form_text reps"><span>Reps</span></div>
            <input type="number" name="reps1" min="1"  required />
            <br />
            <div class="form_text"><span>Exercise 2</span></div>
            <select type="text" name="exercise2" required><datalist><42 exercises 24></datalist></select>
            <div class="form_text reps"><span>Reps</span></div>
            <input type="number" name="reps2" min="1"  required />
            <br />
            <div class="form_text"><span>Exercise 3</span></div>
            <select type="text" name="exercise3" required><datalist><42 exercises 24></datalist></select>
            <div class="form_text reps"><span>Reps</span></div>
            <input type="number" name="reps3" min="1"  required />
            <br />
            <div class="form_text"><span>Exercise 4</span></div>
            <select type="text" name="exercise4" required><datalist><42 exercises 24></datalist></select>
            <div class="form_text reps"><span>Reps</span></div>
            <input type="number" name="reps4" min="1"  required />
            <br />
          </div>
          <div class="form_text"><span>Hashtag</span></div>
          <input type="text" placeholder="#PiefitYourName" name="hashtag" pattern="#Piefit\B[A-Z]{1}\w+" required />
          <h3>References</h3>
          <div class="form_text"><span>Text</span></div>
          <input type="text" name="text" required />
          <br />
          <div class="form_text"><span>Time</span></div>
          <input type="text" name="time" required />
          <br />
          <div class="form_text"><span>Diffuculty level</span></div>
          <input type="number" min="1" max="5" name="level" value="3" pattern="^[1-5]{1}" required />
          <br />
          <div class="form_text"><span>QR kode</span></div>
          <input type="url" name="qr" required />
          <br />
          <input id="submit_btn" type="submit" value="Opret nyt kort" />
        </form>
      </div>
      <!-- CARD FRONT SECTION -->
      <div id="newcard">
        <div class="card-container card-type__core">
          <div class="card-content">
            <div class="card-header">
              <div>
                <h1 data-card-type class="type">REPS/ROUNDS</h1>
                <h2 data-card-rounds class="h2__small type">3 ROUNDS</h2>
              </div>
              <img src="logo.png" class="logo" />
            </div>
            <div class="grid grid-type__repsandrounds">
              <div class="grid-item">
                <h2>EXERCISES</h2>
              </div>
              <div class="grid-item card-duration">
                <h2 data-card-duration="">REPS</h2>
              </div>
              <div class="grid-item card-exercise">
                <h3 data-card-exercise="">EXERCISE 1</h3>
              </div>
              <div class="grid-item card-reps">
                <h3 data-card-reps="">X</h3>
              </div>
              <div class="grid-item card-exercise">
                <h3 data-card-exercise="">EXERCISE 2</h3>
              </div>
              <div class="grid-item card-reps">
                <h3 data-card-reps="">X</h3>
              </div>
              <div class="grid-item card-exercise">
                <h3 data-card-exercise="">EXERCISE 3</h3>
              </div>
              <div class="grid-item card-reps">
                <h3 data-card-reps="">X</h3>
              </div>
              <div class="grid-item card-exercise">
                <h3 data-card-exercise="">EXERCISE 4</h3>
              </div>
              <div class="grid-item card-reps">
                <h3 data-card-reps="">X</h3>
              </div>
            </div>
            <div data-card-hashtag class="card-hashtag">#PiefitYOURHASHTAG</div>
          </div>
        </div>
        <!-- CARD BACK SECTION -->
        <div class="card-container card-type__core">
          <div class="card-content">
            <div class="card-header">
              <div>
              <h1 data-card-benchmark="" class="type">BENCHMARK</h1>
              <h2 data-card-text class="type">BEGINNER-WARMUP-FINISHER</h2>
              </div>
              <img src="logo.png" class="logo" />
            </div>
            <div class="grid grid-type__benchmark">
              <div class="grid-item card-benchmark-level">
                <h2>LEVEL</h2>
              </div>
              <div class="grid-item card-benchmark-content">
                <h2 data-card-benchmark-content="">TIME</h2>
              </div>
              <div
                data-card-benchmark-level=""
                class="grid-item card-benchmark-level"
              >
                <h3>BEGINNER</h3>
              </div>
              <div
                data-card-benchmark-time=""
                class="grid-item card-benchmark-time"
              >
                <h3>12:00</h3>
              </div>
              <div
                data-card-benchmark-level=""
                class="grid-item card-benchmark-level"
              >
                <h3>INTERMEDIATE</h3>
              </div>
              <div
                data-card-benchmark-time=""
                class="grid-item card-benchmark-time"
              >
                <h3>10:00</h3>
              </div>
              <div
                data-card-benchmark-level=""
                class="grid-item card-benchmark-level"
              >
                <h3>ADVANCED</h3>
              </div>
              <div
                data-card-benchmark-time=""
                class="grid-item card-benchmark-time"
              >
                <h3>09:00</h3>
              </div>
              <div
                data-card-benchmark-level=""
                class="grid-item card-benchmark-level"
              >
                <h3>ELITE</h3>
              </div>
              <div
                data-card-benchmark-time=""
                class="grid-item card-benchmark-time"
              >
                <h3>08:00</h3>
              </div>
              <div class="difficulty">
                <h2>Difficulty level</h2>
                  <div class="difficulty_icons">
                  <div class="p-icon p-icon_active"></div>
                  <div class="p-icon p-icon_active"></div>
                  <div class="p-icon"></div>
                  <div class="p-icon"></div>
                  <div class="p-icon"></div>
                </div>
              </div>
              <div class="scan_workout">
                <h2>Scan workout</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="themeSwitcher.js"></script>
  </body>
</html>
