<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'>Administrator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='freja.css'/>
        <link rel='icon' type='image/gif' href='icon.png'/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <script type='module' src='card.js'></script>
    </head>
    <body>
        <header id='menu'></header>
            <div id="newcard">
                
                <div class="card-container card-type__core">
                    <div class="card-content">
                  <div class="card-header">
                  <h1>REPS/ROUNDS</h1>
                   <h2 class="h2__small">3 ROUNDS</h2>
                    
                  </div>
                    
                      <div class="grid grid-type__repsandrounds">
                        <div class="grid-item">
                        <h2>EXERCISES</h2>
                        </div>
                        <div class="grid-item card-duration">
                        <h2>REPS</h2>
                        </div>
                        <div class="grid-item card-exercise">
                        BIG JACK
                        </div>
                        <div class="grid-item card-duration">
                        15
                        </div>
                        <div class="grid-item card-exercise">
                        SIDE V UP (L)
                        </div>
                        <div class="grid-item card-duration">
                        10
                        </div>
                        <div class="grid-item card-exercise">
                        SIDE V UP (R)
                        </div>
                        <div class="grid-item card-duration">
                        10
                        </div>
                        <div class="grid-item card-exercise">
                        1/2 BURPEE
                        </div>
                        <div class="grid-item card-duration">
                        10
                        </div>
                      </div>
                      <div class="card-name">#PiefitSanJose</div>
                    </div>
                  </div>  
                  
            </div>
            
        </main>
    </body>
</html>