<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title class="title">Kort-kategorier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="freja.css" />
    <link rel="icon" type="image/gif" href="/icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="categories.js"></script>
  </head>
  <body>
    <header id="menu"></header>
    <main id="main_categories" class="main">
      <div class="h1_box">
        <a href="mycards">
          <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="title">Kort-kategorier</h1>
      </div>
      <div id="categories_container">
        <p>Hvilken kategori vil du bruge?</p>
        <a href="core">
          <div id="core" class="category_box">Core</div>
        </a>
        <a href="#">
          <div id="lowerbody" class="category_box">Lowerbody</div>
        </a>
        <a href="#">
          <div id="upperbody" class="category_box">Upperbody</div>
        </a>
        <a href="#">
          <div id="fullbody" class="category_box">Fullbody</div>
        </a>
      </div>
    </main>
    <script src="themeSwitcher.js"></script>
  </body>
</html>
