<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'>Home edition: core</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='freja.css'/>
        <link rel='icon' type='image/gif' href='/icon.png'/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <script type='module' src='makemenu.js'></script>
    </head>
    <body>
        <header id='menu'></header>
        <main id="main_core" class='main'>
            <div id="h1_core" class="h1_box">
                <a href="categories">
                    <img src="arrow_left.png" alt="pil til venstre" width="20px">
                </a>
                <h1 class="title">
                    Home edition: core 
                </h1>
            </div>
            <a href="corecard1">
                <div id="core_container">
                    <div class="list_card list_card__core">
                        <div class="list_card_left">
                            <p class="type">Work/rest</p>
                            <p>3 runder - 25/10 sek</p>
                            <p>Tid</p>
                            <p>Sværhedsgrad</p>
                        </div>
                        <div class="list_card_right">
                            <p>#PiefitWashingtonDC</p>
                            &nbsp;
                            <div class="worktime">
                                <p>07:00</p>
                                <img src="watch.png" alt="ur">
                            </div>
                            <div class="difficulty_2">
                                <img src="icon.png" alt="logo" width="20px">
                                <img class="weekicon" src="icon.png" alt="logo" width="20px">
                                <img class="weekicon" src="icon.png" alt="logo" width="20px">
                                <img class="weekicon" src="icon.png" alt="logo" width="20px">
                                <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Work/rest</p>
                        <p>3 runder - 30/10 sek</p>
                        <p>Tid</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitSantiago</p>
                        &nbsp;
                        <div class="worktime">
                            <p>08:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Work/rest</p>
                        <p>4 runder - 20/5 sek</p>
                        <p>Tid</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitPortofSpain</p>
                        &nbsp;
                        <div class="worktime">
                            <p>11:45</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Work/rest</p>
                        <p>4 runder - 20/5 sek</p>
                        <p>Tid</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitParamaribo</p>
                        &nbsp;
                        <div class="worktime">
                            <p>09:55</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Reps/rounds</p>
                        <p>4 runder/4 øvelser</p>
                        <p>Tid ca.</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitSanJose</p>
                        &nbsp;
                        <div class="worktime">
                            <p>12:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Reps/Rounds</p>
                        <p>4 runder/4 øvelser</p>
                        <p>Tid ca.</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitOttawa</p>
                        &nbsp;
                        <div class="worktime">
                            <p>12:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Reps/Rounds</p>
                        <p>4 runder/6 øvelser</p>
                        <p>Tid ca.</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitBogota</p>
                        &nbsp;
                        <div class="worktime">
                            <p>18:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Amrap 14</p>
                        <p>4 øvelser</p>
                        <p>Tid</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitHavana</p>
                        &nbsp;
                        <div class="worktime">
                            <p>14:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Amrap 12</p>
                        <p>4 øvelser</p>
                        <p>Tid</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitNassau</p>
                        &nbsp;
                        <div class="worktime">
                            <p>12:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
                <div class="list_card list_card__core">
                    <div class="list_card_left">
                        <p class="type">Amrap 16</p>
                        <p>6 øvelser</p>
                        <p>Tid</p>
                        <p>Sværhedsgrad</p>
                    </div>
                    <div class="list_card_right">
                        <p>#PiefitBrasilia</p>
                        &nbsp;
                        <div class="worktime">
                            <p>16:00</p>
                            <img src="watch.png" alt="ur">
                        </div>
                        <div class="difficulty_2">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img src="icon.png" alt="logo" width="20px">
                            <img class="weekicon" src="icon.png" alt="logo" width="20px">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

