<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title class="title">Profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="freja.css" />
    <link rel="icon" type="image/gif" href="icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="profile.js"></script>
  </head>
  <body>
    <header id="menu"></header>
    <main id="main_profile" class="main">
      <div class="h1_box">
        <a href="velkommen">
          <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="title">Min profil</h1>
      </div>
      <div id="profile_picture">
        <i class="fas fa-user-circle"></i>
      </div>
      <p><42 username 24></p>
      <div id="profile_container">
        <a href="myinformation">
          <div id="information">
            <p>Mine oplysninger</p>
            <i class="fas fa-arrow-right"></i></div
        ></a>
        <a href="changeinfo"
          ><div id="edit_information">
            <p>Rediger mine oplysninger</p>
            <i class="fas fa-arrow-right"></i></div
        ></a>
        <a href="#">
        <div id="trophies">
          <p>Trofæer</p>
          <i class="fas fa-arrow-right"></i>
        </div></a>
        <a href="#">
        <div id="theme">
          <p>Tema</p>
          </a><div class="theme-switch-wrapper">
            <span>Lyst/Mørkt</span>
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>
        </div>
      </div>
    </main>
    <script src="themeSwitcher.js"></script>
  </body>
</html>
