<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'>Profil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='../public/stylesheets/freja.css'/>
        <link rel='icon' type='image/gif' href='../public/images/icon.png'/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <script type='module' src='index.js'></script>
    </head>
    <body>
        <header id='menu'></header>
        <main id="main_profile" class='main'>
            <h1>
                Min profil
            </h1>
            <div id="profile_picture">
                <img src="../public/images/user.png" alt="user">
            </div>
            <p>Katrine Sørensen</p>
            <div id="profile_container">
                <div id="information">
                    <p>Mine oplysninger</p>
                    <img src="../public/images/arrow_right.png" alt="pil">
                </div>
                <div id="edit_information">
                    <p>Rediger mine oplysninger</p>
                    <img src="../public/images/arrow_right.png" alt="pil">
                </div>
                <div id="trophies">
                    <p>Trofæer</p>
                    <img src="../public/images/arrow_right.png" alt="pil">
                </div>
                <div id="theme">
                    <p>Tema</p>
                </div>
            </div>
        </main>
    </body>
</html>