<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' type='image/gif' href='icon.png'/>
    <link rel="stylesheet" href="freja.css" />
    <script type="module" src="velkommen.js"></script>
    <title>Velkommen</title>
  </head>
  <!-- menu -->
  <body>
    <header id="menu"></header>
    <!-- Brugernavn -->
<main id="main_velkommen" class="main">
    <div class="h1_box">
      <h1 class="title">
          Velkommen <42 username 24>
      </h1>
    </div>
    <!-- Grid -->
      <div class="parent">
        <a href="profile">
          <div class="grid-item-1">
            <i class="fas fa-user"></i>
            <span class="span_velkommen">Min Profil</span>
          </div>
        </a>
        <a href="#">
          <div class="grid-item-2">
            <img src="home_edition.png" alt="PiefitCards" width="100px">
            <span>Køb PiefitCards</span>
          </div>
        </a>
        <a href="mycards">
          <div class="grid-item-3">
            <img src="core.png" alt="core collection" width="150px">
            <span>Mine PiefitCards</span>
          </div>
        </a>
        <a href="#">
          <div class="grid-item-4">
            <img src="graph.png" alt="graf" width="100px">
            <span>Statistik</span>
          </div>
        </a>
        <a href="#">
          <div class="grid-item-5">
            <i class="fas fa-user-friends"></i>
            <span class="span_velkommen">Piefit Community</span>
          </div>
        </a>
        <a href="#">
          <div class="grid-item-6">
            <i class="far fa-question-circle whitefa"></i>
            <span class="span_velkommen white">Hjælp</span>
          </div>
        </a>
      </div>
  </main>
  </body>
</html>
