<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' type='image/gif' href='icon.png'/>
    <link rel="stylesheet" href="freja.css" />
    <script type="module" src="velkommen.js"></script>
    <title>Velkommen</title>
  </head>
  <!-- menu -->
  <body>
    <header id="menu"></header>
    <!-- Brugernavn -->
    <!-- <div class="title">
      <h1>Velkommen, <42 username 24></h1>
    </div> -->
<main id="main_velkommen" class="main">
    <div class="h1_box">
      <h1 class="title">
          Velkommen <42 username 24>
      </h1>
    </div>
    <!-- Grid -->
      <div class="parent">
        <div class="grid-item-1">
          <a href="profile"> <i class="fas fa-user"></i></a>
          <span class="span_velkommen">Min Profil</span></a>
        </div>
        <div class="grid-item-2">
          <!-- <a href="#"><i class="fas fa-shopping-cart"></i></a> -->
          <img src="home_edition.png" alt="PiefitCards" width="100px">
          <span>Køb PiefitCards</span>
        </div>
        <div class="grid-item-3">
          <!-- <a href="mycards"><i class="fas fa-box"></i></a> -->
          <img src="core.png" alt="core collection" width="150px">
          <span>Mine PiefitCards</span>
        </div>
        <div class="grid-item-4">
          <!-- <a href="#"><i class="fas fa-chart-pie"></i></a> -->
          <img src="graph.png" alt="graf" width="100px">
          <span>Statistik</span>
        </div>
        <div class="grid-item-5">
          <a href="#"><i class="fas fa-user-friends"></i></a>
          <span class="span_velkommen">Piefit Community</span>
        </div>
        <div class="grid-item-6">
          <a href="#"><i class="far fa-question-circle whitefa"></i></a>
          <span class="span_velkommen white">Hjælp</span>
        </div>
      </div>
  </main>
  </body>
</html>
