<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' type='image/gif' href='icon.png'/>
    <link rel="stylesheet" href="freja.css" />
    <script type="module" src="velkommen.js"></script>
    <title>Velkommen</title>
  </head>
  <!-- menu -->
  <body>
    <header id="menu"></header>
    <!-- <nav class="nav">
      <input type="checkbox" id="nav__checkbox" class="nav__checkbox" />
      <label for="nav__checkbox" class="nav__toggle">
        <i class="fas fa-bars hamburger"></i>
        <i class="fas fa-times close"></i>
      </label>

      <ul class="nav__menu">
        <li>
          <a href="velkommen">
            <img class="logo"
              src="logo_white.png"
            />
          </a>
        </li>

        <li><a href="profile">Profil</a></li>
        <li><a href="#">Køb PiefitCards</a></li>
        <li><a href="#">Mine PiefitCards</a></li>
        <li><a href="#">Statistik</a></li>
        <li><a href="#">Piefit Community</a></li>
        <li><a href="#">Hjælp</a></li>
        <li><a href="logout">Log ud</a></li>
      </ul>
    </nav> -->
    <!-- Brugernavn -->
    <div class="title">
      <h1>Velkommen, <42 username 24></h1>
    </div>
    <!-- Grid -->
    <div class="container">
      <div class="parent">
        <div class="grid-item-1">
          <a href="profile"> <i class="fas fa-user"></i></a>
          <span class="span_velkommen">Min Profil</span></a>
        </div>
        <div class="grid-item-2">
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          <span class="span_velkommen">Køb PiefitCards</span>
        </div>
        <div class="grid-item-3">
          <a href="mycards"><i class="fas fa-box"></i></a>
          <span class="span_velkommen">Mine PiefitCards</span>
        </div>
        <div class="grid-item-4">
          <a href="#"><i class="fas fa-chart-pie"></i></a>
          <span class="span_velkommen">Statistik</span>
        </div>
        <div class="grid-item-5">
          <a href="#"><i class="fas fa-user-friends"></i></a>
          <span class="span_velkommen">Piefit Community</span>
        </div>
        <div class="grid-item-6">
          <a href="#"><i class="far fa-question-circle whitefa"></i></a>
          <span class="span_velkommen white">Hjælp</span>
        </div>
      </div>
    </div>
  </body>
</html>
