@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap");
@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");

:root{
   
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  --clr-blue: rgb(198, 217, 219);
  --clr-blue_light: rgb(198, 217, 219, 0.8);
  --clr-yellow: rgb(255, 230, 123);
  --clr-yellow_light: rgb(255, 230, 123, 0.8);
  --clr-green: rgb(218, 232, 137);
  --clr-green_light: rgb(218, 232, 137, 0.8);
  --clr-pink: rgb(248, 178, 186);
  --clr-pink_light: rgb(248, 178, 186, 0.8);
  --clr-red: #D83232;
  --clr-black: #000000;
  --clr-white: #FFFFFF;
  --clr-dark: #394356;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn {
  background-color: #dae889;
  border: none;
  height: 40px;
  border-radius: 8px;
  padding:0 1rem;
  margin-top:2rem;
}

#body_index {
  background-image: url("frontpage_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#main_index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.625rem;
  color: #000000;
  font-weight: 400;
}


#main_index h1 {
  color: #ffffff;
}

#index_container #login_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signup,
#login {
  width: 208px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625rem 0;
}

#signup {
  background-color: #ffffff;
  color: #000000;
}

#login {
  background-color: #000000;
  color: #ffffff;
}

#signup a {
  text-decoration: none;
  color: #000000;
}

#login a {
  text-decoration: none;
  color: #ffffff;
}
/* ----------------------------Log in siden------------------------------*/

#logo {
  width: 100px;
}

#h1_login {
  color: #000000;
  width: 100%;
}

#main_login {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#ffe67b, #dae889);
  padding-top: 2rem;
}

#login_container,
#form_container {
  width: 60%;
  margin: 0 auto;
}

#forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 0;
}

#forms p {
  margin-top: 0;
  font-size: 0.75rem;
}

.login_input,
#submit_btn,
.signup_input,
.change_input,
#changeinfo_btn {
  width: 208px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #000000;
  margin: 0.5rem 0;
}

#submit_btn {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

/* ----------------------------Sign up------------------------------*/

#main_signup {
  width: 100%;
  background-image: linear-gradient(#ffe67b, #dae889);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signup_container {
  width: 60%;
  margin: 0 auto;
  font-size: 0.75rem;
}

.signup_input {
  margin: 0.5rem 0;
}

/* ----------------------------Profile------------------------------*/
#main_profile {
  width: clamp(50%, 450px, 100%);
  margin: 0 auto;
}

#main_profile h1,
#main_myinfo h1 {
  color: #000000;
  justify-content: flex-start;
  padding-top: 4rem;
}

#main_profile img,
#main_myinfo img {
  width: 150px;
  margin: 2rem 0 1rem 0;
}

#profile_container {
  width: 100%;
  margin-top: 2rem;
}

#information,
#edit_information,
#trophies,
#theme {
  height: 50px;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#information {
  background-color: #c6d9db;
}

#edit_information {
  background-color: #dae889;
}

#trophies {
  background-color: #f8b2ba;
}

#theme {
  background-color: #ffe67b;
}

#information p,
#edit_information p,
#trophies p {
  margin: 0;
}

#information img,
#edit_information img,
#trophies img {
  width: 1.5rem;
  margin: 0;
}

/* ----------------------------myinformation------------------------------*/

#myinfo_container {
  text-align: left;
  padding-left: 1.5rem;
  width: clamp(50%, 450px, 100%);
  margin: 2rem auto;
}

#myinfo_container td {
  padding-top: 20px;
}

#myinfo_container td span {
  font-weight: bold;
}

#change_info_btn {
  width: 13rem;
  height: 2.5rem;
  background-color: #dae889;
  border-radius: 8px;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

/* ----------------------------change info------------------------------*/

#changeinfo_btn {
  background-color: #dae889;
  border: none;
  cursor: pointer;
}

#changeinfo_container h1 {
  color: #000000;
}

/* ----------------------------------------------------------*/

@media screen and (max-width: 380px) {
  #body_index {
    width: 100%;
    height: 667px;
    background-position: -4rem center;
  }

  #main_login,
  #main_signup {
    height: 667px;
  }
}

@media screen and (max-width: 330px) {
  #body_index {
    width: 100%;
    height: 568px;
    background-position: -4rem 0;
  }

  #main_login {
    width: 100%;
    height: 568px;
  }

  #main_profile img {
    width: 150px;
    margin: 1rem 0 0.5rem 0;
  }

  #information,
  #edit_information,
  #trophies,
  #theme {
    height: 40px;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  #information img,
  #edit_information img,
  #trophies img {
    width: 1.5rem;
    margin: 0;
  }
}

/* menu */

.logo {
  height: 2rem;
}

.hamburger,
.close {
  font-size: 2rem;
  color: white;
}
.nav {
  background: black;
  padding: 20px;
}
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.close,
input[type="checkbox"] {
  display: none;
}
.hamburger {
  margin-top: 0.2rem;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 0 1rem 0 1rem;
  padding: 0;
}
li {
  list-style: none;
  display: none;
}
li:first-child {
  margin-right: auto;
  display: block;
}
.nav__menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}
#nav__checkbox:checked ~ label.nav__toggle .hamburger {
  display: none;
}
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

/*---------------------Admin--------------------------*/

#h1_admin {
  text-align: center;
  margin: 2rem 0;
}

.body_admin {
  background-color: var(--clr-white);
}
.bg__core{
  background-color: var(--clr-blue_light);
}
.bg__upperbody{
  background-color: var(--clr-pink_light);
}
.bg__lowerbody{
  background-color: var(--clr-green_light);
}
.bg__fullbody{
  background-color: var(--clr-yellow_light);
}


#main_admin {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#aside_menu_container {
  min-width: fit-content;
  width: 20%;
}

#aside_menu {
  width: 250px;
  background-color: #000000;
  border: 1px solid #000000;
}


.aside_menu_box {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.edition {
  color: #ffffff;
  font-size: 1.25rem;
}

.new_edition {
  border-bottom: 1px solid #ffffff;
}

.core {
  background-color: rgb(198, 217, 219);
  justify-content:left;
  padding-left:1rem;
}

.lowerbody {
  background-color: #dae889;
  justify-content: left;
  padding-left: 1rem;
}

.upperbody {
  background-color: #f8b2ba;
  justify-content: left;
  padding-left: 1rem;
}

.fullbody {
  background-color: #ffe67b;
  justify-content: left;
  padding-left: 1rem;
}

#input_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add_cards,
#references {
  text-align: left;
}

#add_cards input,
#add_cards select,
#references input,
#references select {
  margin: 1rem;
  width: 15rem;
  height: 2rem;
}

.form_text {
  width: 7rem;
  display: inline-block;
}

/*---------------------Admin Card------------------------*/

#newcard {
  display:flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
}

h1 { font-size: 2.5rem}
h2 { font-size: 1.25rem}

.h2__small {
font-size: 1rem;
}

h1,
h2 {
font-family: "Bebas Neue Pro Expanded", sans-serif;
font-weight: 400;
color: var(--clr-red);
line-height: 1;
}

h3,
h4,
h6 {
font-family: "Lato", sans-serif;
font-weight: bold;
color: var(--clr-black);
}

.card-container {
margin: 0 0 0 0;
padding: 1.75rem;
border-radius: 1.5rem;
width: minmax(20rem, 25rem);
aspect-ratio: 1 / 1;
text-align: start;
overflow: hidden;
border: 2px solid var(--clr-black);
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
position:relative;
}

.card-type__core {
background-color: var(--clr-blue);
}

.card-header h2{
  line-height: 1.5;
}

.card-header::after{
content:'';
  border-bottom:2px solid var(--clr-black);
  display:block;
  width:100%;
}

.grid {
display: grid;
width: 100%;
}

.grid-item {
  position:relative;
  line-height: 2.5;
  }

  .grid-item h2 {
    line-height: 2.5;
  }

.grid-type__workandrest {
grid-template-columns: 1fr;
}

.grid-type__repsandrounds {
grid-template-columns: 1fr minmax(20%, 30%);
}

/* .grid-type__repsandrounds .grid-item {
  line-height: 3;
} */

.grid-type__benchmark {
  grid-template-columns: 1fr 1fr;
  height: 50%;
  }

  .grid-type__benchmark > .grid-item,
  .grid-type__benchmark h2  {
    line-height: 1;
  }
  .grid-type__benchmark > .grid-item::before,
  .grid-type__benchmark > .grid-item::after {
    content: '';
    margin: auto;
  }

.card-duration, 
.card-reps,
.card-benchmark-content,
.card-benchmark-rounds {
  border-left:2px solid var(--clr-black);
  text-align: center;
}

.card-benchmark-level {
  text-align:center;
}

.grid-item::after{
content:'';
  border-bottom:2px solid var(--clr-black);
  display:block;
  width: 100%;
}

/* .grid-item::before{
margin-top: -1rem;
} */
/* .grid-item::after{
margin-top: 1rem;
} */

/* @media screen and (max-width: 1000px) {
  #main_admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  
  #aside_menu_container {
    min-width: fit-content;
    width: 100%;
  }
}  */

/* --------------------- feedback message --------------*/ 


/* --------------------- mycards --------------*/

#main_mycards {
  width: clamp(50%, 450px, 100%);

  margin: 0 auto;
}

#mycards_container,
#categories_container {
  width:17.75rem;
  margin:0 auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.mycards_box {
  width:17.75rem;
  height:8rem;
  border-radius: 8px;
  padding-top:1rem;
  margin:0.5rem;
  font-size:1.25rem;
  font-weight: 700;
  position:relative;
}

.mycards_box img {
  width:100px;
}

.mycards_box p {
margin:0.5rem 0;
}

#home_edition {
  background-color: rgba(0, 0, 0, 0.1);
}

.overlay {
  width:100%;
  height:100%;
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.overlay img {
  width: 2.5rem;
}

#code {
  text-align: left;
}

#code h2 {
  font-size:1rem;
}

#mycards_container input {
  height: 40px;
  border:2px solid #000000;
  border-radius: 8px;
  padding-left: 1rem;
  display:block;
  margin:2rem 0;
}

#mycards_container .btn {
  border:none;
  margin:1rem auto;
}

/* --------------------- categories --------------*/

.category_box {
  width:17.75rem;
  height:6rem;
  border-radius: 8px;
  margin:0.5rem;
  font-size:1.25rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}


#core {
  background-color: #c6d9db;
}

#lowerbody {
  background-color: #dae889;
}

#upperbody {
  background-color: #f8b2ba;
}

#fullbody {
  background-color: #ffe67b;
}




